# Port Configuration
FRONTEND_PORT=3000
BACKEND_PORT=3001
DB_PORT=5433

# Database Credentials
POSTGRES_USER=admin_ewallet
POSTGRES_PASSWORD=rahasia_super_kuat
POSTGRES_DB=ewallet_sentiment_db

# Elasticsearch
ES_PORT=9200
ES_HOST=http://elasticsearch:9200
ES_INDEX_REVIEWS=ewallet_reviews
ES_INDEX_EMBEDDINGS=ewallet_embeddings

# AI Service
AI_PORT=8000
MODEL_NAME=indobenchmark/indobert-base-p1
MODEL_OUTPUT_DIR=./models
MAX_LENGTH=256
BATCH_SIZE=16
EPOCHS=5
LEARNING_RATE=2e-5