PORT=3001
DATABASE_URL="postgresql://user:password@localhost:5433/ewallet_sentiment?schema=public"
LEVEL_LOG=info

# JWT SECRETS
JWT_SECRET="super-secret-jwt-key-for-dev"
JWT_REFRESH_SECRET="super-secret-refresh-key-for-dev"
JWT_ACCESS_EXPIRATION="60m"
JWT_REFRESH_EXPIRATION="7d"
JWT_REFRESH_EXPIRATION_DAYS=7

# MAIL SERVER
MAIL_TRANSPORT=logger # logger, google, smtp
MAIL_FROM=

## GOOGLE
GOOGLE_MAIL_USER=
GOOGLE_MAIL_APP_PASSWORD=


# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=